<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ReportNG  Suite" verbose="1">
 <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
   </listeners>
    <test name="ReportNG1  Test" >
   <classes>
    <class name="com.Testing_Pack.Reportngtest1" />  
   </classes>
    </test>
  
    <test name="ReportNG2  Test" >
   <classes>  
    <class name="com.Testing_Pack.Reportngtest2" />
   </classes>
    </test>
</suite>
